/* CSSファイル: css/index.css */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

header {
    position: sticky;
    top: 0;
    width: 100%;
    box-shadow: 0px 5px 10px 5px rgba(0, 0, 0, 0.2);
    background-color: rgb(55, 82, 105);
    z-index: 1;
}

.header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
    padding: 0 10px;
}

.header-title {
    color: white;
    font-size: 40px;
    text-align: center;
    padding: 10px 0;
}

.header-hamburger {
    position: relative;
    display: none;
    width: 40px;
    height: 40px;
    z-index: 999;
    cursor: pointer;
}

.header-hamburger__line {
    position: absolute;
    display: block;
    width: 100%;
    height: 5px;
    background-color: white;
    transition: all .5s;
}

.header-hamburger__line:nth-of-type(1) {
    top: 20%;
    translate: 0 -50%;
}

.header-hamburger__line:nth-of-type(2) {
    top: 50%;
    translate: 0 -50%;
}

.header-hamburger__line:nth-of-type(3) {
    top: 80%;
    translate: 0 -50%;
}

body.show-nav .header-hamburger__line:nth-of-type(1) {
    top: 50%;
    translate: 0 -50%;
    rotate: 45deg;
}

body.show-nav .header-hamburger__line:nth-of-type(2) {
    top: 50%;
    translate: 0 -50%;
    opacity: 0;
}

body.show-nav .header-hamburger__line:nth-of-type(3) {
    top: 50%;
    translate: 0 -50%;
    rotate: -45deg;
}

.nav {
    display: flex;
    width: 100%;
    max-width: calc(1024px * 0.5);
}

.nav-list {
    display: flex;
    width: 100%;
    display: flex;
    justify-content: center;
}

.nav__item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    color: white;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    border-right: solid 1px rgb(37, 60, 80);
    transition: background-color .2s;
}

.nav__item:first-of-type {
    border-left: solid 1px rgb(37, 60, 80);
}

.nav__item:hover {
    background-color: rgb(37, 60, 80);
}

.titleBr {
    display: none;
}

main {
    width: 100%;
    max-width: 768px;
    margin: 0 auto;
    padding: 0 20px;
}

.toc {
    margin: 30px 0;
}

.toc__label {
    display: inline-flex;
    color: #eeeeee;
    font-weight: bold;
    padding: 5px 20px;
    background-color: rgb(12, 137, 146);
}

.toc-content {
    padding: 20px;
    border: solid 4px rgb(12, 137, 146);
    background-color: rgb(247, 254, 255);
}

.toc-list {
    padding-left: 30px;
}

.toc-list a {
    color: rgb(12, 137, 146);
    font-weight: bold;
    text-decoration: none;
}

.toc-list a:hover {
    color: rgb(214, 148, 25);
    text-decoration: underline;
}

.toc-list li+li {
    margin-top: 25px;
}

.toc-list .toc-list li {
    margin-top: 10px;
}

.content h2 {
    display: flex;
    color: #fafafa;
    font-size: 24px;
    margin-top: 50px;
    margin-bottom: 15px;
    padding: 10px;
    background-color: rgb(55, 82, 105);
}

.content h3 {
    display: flex;
    gap: 5px;
    margin-top: 40px;
    margin-bottom: 15px;
    border-bottom: solid 2px rgb(55, 82, 105);
}

.content h3::before {
    content: "";
    width: 10px;
    background-color: rgb(55, 82, 105);
}

.content p {
    line-height: 2.5;
}

.content a {
    color: rgb(22, 135, 201);
}

.content pre {
    font-size: 1rem;
    padding: 5px 20px;
    white-space: pre-line;
    background-color: #eeeeee;
}

img {
    width: 100%;
    border: 1px solid black;
}

@media screen and (max-width:1024px) {
    body.show-nav {
        overflow: hidden;
    }

    header {
        transition: all .5s;
    }

    main {
        transition: all .5s;
        z-index: 0;
    }

    body.show-nav header {
        translate: calc(-1 * min(400px, calc(100% - 60px))) 0;
    }

    body.show-nav main {
        position: relative;
        translate: calc(-1 * min(400px, calc(100% - 60px))) 0;
    }

    .header {
        align-items: center;
        overflow: hidden;
    }

    .header-title {
        font-size: 24px;
    }

    .header-hamburger {
        display: block;
    }

    .nav {
        position: fixed;
        top: 0;
        left: 100%;
        width: min(400px, calc(100% - 60px));
        height: 100vh;
        background-color: rgb(55, 82, 105);
    }

    .nav::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        opacity: 0;
        translate: -100% 0;
        background-color: rgba(0, 0, 0, 0.2);
        transition: opacity .5s;
        z-index: 100;
        pointer-events: none;
    }

    body.show-nav .nav::before {
        opacity: 1;
        pointer-events: initial;
    }

    .nav-list {
        display: block;
    }

    .nav__item {
        display: block;
        width: 100%;
        text-align: left;
        padding: 30px;
        border: none;
        border-bottom: solid 1px rgb(37, 60, 80);
    }

    .nav__item:last-of-type {
        border-bottom: none;
    }
}
